[Desktop Entry]
Version=1.1.0
Name=Anatine
GenericName=Twitter Client
X-GNOME-FullName=Anatine Twitter Client

Comment=Pristine Twitter app
Keywords=twitter;

Exec=anatine
Icon=${SNAP}/meta/gui/anatine.svg
Terminal=false
Type=Application
Categories=Network;Utility;GTK;
Keywords=Twitter;
Name[pt_BR]=anatine
