[Desktop Entry]
Type=Application
Version=1.0
Name=Polly
GenericName=Twitter Client
X-GNOME-FullName=Polly Twitter Client
NoDisplay=false
Comment=Manage multiple columns of multiple Twitter accounts
Icon=polly.svg
Hidden=false
TryExec=polly
Exec=polly
Terminal=false
Categories=GTK;Network;
StartupWMClass=polly
